/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* index.html */
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.content {
	flex: 1;
}

.container {
	width: 90% !important;
}

/*   */
.icon-block {
  padding: 0 15px;
}
.collection-item {
	height: auto;
}

.player-content {
	padding-top: 10px !important;
}

.progress-container {
	margin: 1rem 0 0.5rem 0 !important;
}

#control-mute {
	padding: 0 0.5rem !important;
}

#volume-control {
	width: 100% !important;
}

.card-action {
	padding: 10px 20px !important;
}

/* suggest.html */
.search-container {
	padding: 0 !important;
}

.search-results {
	padding-top: 10px;
}

.search-results:first-child {
	padding-top: 15px;
}

.search-results:last-child {
	padding-bottom: 15px;
}

.search-results {
	padding-left: 20px;
	padding-right: 20px;
}

.search-results:hover {
	background-color: #EEEEEE;
}

.divider-results {
	margin-top: 10px;
}

.song-info {
	padding: 10px 20px !important;
}

.song-title {
	font-size: 120%;
	font-weight: 500;
}

.pointer-cursor {
	cursor: pointer;
}

/* https://docs.angularjs.org/api/ng/directive/ngRepeat <= Animation */

