<div class="container" ng-controller="homeController" style="width: 100% !important">
	<div class="section">
		<div class="row center">
			
			<div class="col s12 m5 l3 offset-l2">
				<a href="#player" class="waves-effect waves-light btn">Host a playlist</a>
			</div>
			
			<div class="col s12 m2 l2 center">
				<h5 class="">-OR-</h5>
			</div>
			
			<div class="col s12 m5 l3">
				<a href="#suggest" class="waves-effect waves-light btn">Join a playlist</a>
			</div>
			
		</div>
	</div>
</div>