<div class="container" id="controllerContainer" ng-controller="searchController" style="width: 100% !important">
	<div class="section">
		<div class="row">

			<div class="col s12 m12 l8">

				<div class="card">
					<div class="card-content card-content-padding">
						<span class="card-title grey-text text-darken-4">Suggest a song</span>
					</div>
					<div class="card-action">
						<div class="input-field">
							<i class="mdi-action-search prefix"></i>
							<input type="text" id="search-song">
							<label for="search-song">Song title</label>
						</div>
					</div>
					<div class="divider"></div>
					<div class="card-content search-container">
						
						<div class="search-results" ng-repeat="result in results" ng-click="onResultSelect(result.id.videoId, result.snippet.title)">
							<span class="truncate grey-text text-darken-4 animate-repeat song-title">{{ result.snippet.title }}</span>
							<p class="truncate animate-repeat">Uploaded by {{ result.snippet.channelTitle }}</p>
							<div class="divider divider-results animate-repeat" ng-if="!$last"></div>
						</div>

					</div>
				</div>
				
				<div class="card" ng-repeat="song in songs">
					<div class="card-content song-info">
						<span class="truncate grey-text text-darken-4 song-title">{{ song.title }}</span>
						<p>Suggested by {{ song.suggester }}</p>
					</div>
					<div class="card-action">
						<a class="pointer-cursor" ng-click="addLike(song.id)">like <i class="mdi-action-thumb-up"></i></a>
						<a class="pointer-cursor" ng-click="addDislike(song.id)">dislike <i class="mdi-action-thumb-down"></i></a>
						<div class="right">
							<span class="likes blue-text">+{{ song.likes }}</span>
							<span class="grey-text text-lighten-1"> | </span>
							<span class="dislikes red-text text-darken-2">-{{ song.dislikes }}</span>
						</div>
					</div>
				</div>
				
			</div>

		</div>
	</div>
</div>